ingest:
  media_folder: .
  thumbnail_folder: .
  enable_cache: false

  analyzer:
    llm_base_url: "http://localhost:8080"
    embedder_model_id: RuteNL/MobileCLIP2-S3-OpenCLIP-ONNX
    analyze_image_size: 360
    theme_generation:
      variant: Vibrant
      contrast_level: 0.5
    ocr_languages:
      - nld
      - eng

  file_detection:
    video_extensions:
      - "mp4"
      - "webm"
      - "av1"
      - "3gp"
      - "mov"
      - "mkv"
      - "flv"
      - "m4v"
      - "m4p"
    photo_extensions:
      - "jpg"
      - "jpeg"
      - "png"
      - "gif"
      - "tiff"
      - "tga"
      - "avif"

  thumbnails:
    recreate_if_exists: false
    heights:
      - 144
      - 240
      - 360
      - 480
      - 720
      - 1080
      - 1440
    thumbnail_extension: "avif"
    avif_options:
      quality: 80
      alpha_quality: 80
      speed: 4
    video_options:
      extension: "webm"
      thumb_time: 0.2
      percentages:
        - 0
        - 33
        - 66
        - 99
      height: 720
      transcode_outputs:
        - height: 480
          quality: 35
        - height: 144
          quality: 40

logging:
  level: "info"

api:
  host: "127.0.0.1"
  port: 9475
  allowed_origins:
    - "http://localhost:5173"
    - "http://localhost:3000"
    - "http://127.0.0.1:3000"
    - "https://ruurdbijlsma.github.io"
  public_url: "http://localhost:9475"
  rate_limiting:
    req_per_second: 30
    burst_size: 30

secrets:
  jwt: "overwrite-me-with-env"
  database_url: postgres://photos_user:dev-password@localhost/photos

constants:
  fallback_timezone: Europe/Amsterdam
  onboarding_n_media_samples: 8
  
  database:
    max_connections: 20
    min_connection: 3
    max_lifetime: 1800
    idle_timeout: 600
    acquire_timeout: 30
    media_item_id_length: 10
    album_id_length: 10

  auth:
    access_token_expiry_minutes: 30
    refresh_token_expiry_days: 7
    album_invitation_expiry_minutes: 1440 # 24 hours